<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main layout:fragment="content">
    <section id="mypage_menu">
        <div>
            <p class="mypage">마이페이지</p>
        </div>
        <div class="mypage_div">
            <div class="info">회원정보</div>
            <div class="cart">장바구니</div>
            <div class="orderlist">주문내역</div>
        </div>
    </section>
    <table class="cart_list">
        <form>
            <thead>
            <tr>
                <td><input type="checkbox">전체 선택</td>
                <td>상품 정보</td>
                <td>옵션</td>
                <td>상품 금액</td>
                <td>수량</td>
                <td><input type="checkbox">배달
                    <input type="checkbox">픽업</td>
            </tr>
            </thead>
            <tbody>
            <tr class="cart_list_detail">
                <td><input type="checkbox"></td>
                <td class="cart_img"><img src="/images/americano.png"></td>
                <td>선택 안 함</td>
                <td>5,000원</td>
                <td>
                    <img src="/images/minus.png">
                    1
                    <img src="/images/plus.png"></td>
            </tr>
            <tr class="cart_list_detail">
                <td><input type="checkbox"></td>
                <td class="cart_img"><img src="/images/americano.png"></td>
                <td>연하게</td>
                <td>5,000원</td>
                <td>
                    <img src="/images/minus.png">
                    1
                    <img src="/images/plus.png"></td>
            </tr>
            <tr class="cart_list_detail">
                <td><input type="checkbox"></td>
                <td class="cart_img"><img src="/images/americano.png"></td>
                <td>선택 안 함</td>
                <td>5,000원</td>
                <td>
                    <img src="/images/minus.png">
                    1
                    <img src="/images/plus.png"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">총 금액</td>
                <td>15,000원</td>
            </tr>
            <tr>
                <td colspan="3">
                    <button class="cart_btn" th:text="#{cart.btn.shop}"></button>
                </td>
                <td colspan="3">
                    <button class="cart_btn" th:text="#{cart.btn.order}"></button>
            </tr>
            </tbody>
        </form>
    </table>
</main>
</html>