/** 공통 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; color: #000; outline: none; }
html { font-size: 16px; }
ul, ol { list-style: none; margin:0; padding:0; }
dl, dt, dd { margin:0; padding: 0; }
a { text-decoration: none; }
i { font-size: 4rem; }
body { margin: 0; }
img { border: 0; }
.dn { display: none !important; }

/** 기준 너비 */
.layout_width { max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }

/** 기본 스타일 - 입력 */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='date'] { border: 1px solid #d5d5d5; width: 100%; height: 45px; padding: 0 10px; border-radius: 3px; }


/** 헤더 - 상단 로고 및 아이콘 */
.header_box { display: flex; width: auto; justify-content: space-between; }
.header_nav { width: 17rem; }
.header_logo { width: 200px; height: 100px; margin-left:16rem; margin-top: 1rem; }
.i_box { display: flex; width: auto; justify-content: space-between; margin-right: 2rem; margin-top:1rem}

/** 헤더 - 하단 메뉴 */
.header_menuBox {display: flex; width: 80%; justify-content: center; align-items: center; margin-left: 10rem; padding: 2rem;}
.header_menuBox a { padding: 2rem;}

/** 푸터 */