<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

  <main layout:fragment="content">
    <section class=".ad_nav">
      <div><a href="#">회원관리</a></div>
      <div><a href="#">상품관리</a></div>
      <div><a href="#">주문관리</a></div>
    </section>

    <section>
      <table class="ad_table2">
        <tr>
          <th>회원번호</th>
          <td>1</td>
        </tr>
        <tr>
          <th>가입날짜</th>
          <td>2023/05-27</td>
        </tr>
        <tr>
          <th>아이디</th>
          <td>user01</td>
        </tr>
        <tr>
          <th>회원명</th>
          <td>사용자01</td>
        </tr>
        <tr>
          <th>이메일</th>
          <td>user@email.com</td>
        </tr>
        <tr>
          <th>휴대전화번호</th>
          <td>01012345678</td>
        </tr>
        <tr>
          <th>주소</th>
          <td>인천광역시 부평구</td>
        </tr>
      </table>
    </section>
  </main>
</html>