<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">

    <section class=".ad_nav">
        <div><a href="#">회원관리</a></div>
        <div><a href="#">상품관리</a></div>
        <div><a href="#">주문관리</a></div>
    </section>

    <section>
        <form method="post" th:action="">
            <table class="ad_table2">
                <tr>
                    <th>상품번호</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th>카테고리</th>
                    <td>coffee</td>
                </tr>
                <tr>
                    <th>상품명</th>
                    <td>아메리카노</td>
                </tr>
                <tr>
                    <th>상품가격</th>
                    <td>5000</td>
                <tr>
                    <th>상품설명</th>
                    <td>상품설명...</td>
                </tr>
                <tr>
                    <input type="radio" name="sell" value="sell" id="sell">판매중
                    <label for="sell"></label>
                    <input type="radio" name="no_sell" value="no_sell" id="no_sell">판매중지
                    <label for="no_sell"></label>
                </tr>
                <tr>
                    <th>이미지</th>
                    <td><img></td>
                </tr>
            </table>

            <button type="submit" class="ad_order_updateBtn">수정하기</button>
            <button type="submit" class="ad_order_deleteBtn">삭제하기</button>
        </form>
    </section>
</main>

</html>