<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main layout:fragment="content">
    <section class="ad_nav">
        <div><a href="#">회원관리</a></div>
        <div><a href="#">상품관리</a></div>
        <div><a href="#">주문관리</a></div>
    </section>

    <section>
        <table class="ad_table2">
            <tr>
                <th>상품번호</th>
                <td>1</td>
            </tr>
            <tr>
                <th>카테고리</th>
                <td>coffee</td>
            </tr>
            <tr>
                <th>상품명</th>
                <td>아메리카노</td>
            </tr>
            <tr>
                <th>상품가격</th>
                <td>5000</td>
            </tr>
            <tr>
                <th>상품설명</th>
                <td>상품설명....</td>
            </tr>
            <tr>
                <th>상품상태</th>
                <td>
                    <input type="radio" name="sell" value="sell" id="sell">판매중
                    <label for="sell"></label>
                    <input type="radio" name="not_sell" value="not_sell" id="not_sell">판매중지
                    <label for="not_sell"></label>
                </td>
            </tr>
            <tr>
                <th>이미지</th>
                <td><img></td>
            </tr>
        </table>
    </section>

    <section>
        <form method="post">
            <button type="submit">수정하기</button>
            <button type="submit">삭제하기</button>
        </form>
    </section>
</main>
</html>