<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">
    <section layout:fragment="content">
        <h1 class="ad_mainH2">관리자 페이지 이용안내</h1>
            <div class="ad_explainBox">
                <ul>
                    <li class="ad_explain1">사이트 설정</li>
                </ul>
                <br>
                <ul>
                    <li class="ad_explain2">게시판 관리</li>
                </ul>
            </div>
    </section>
</html>