<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">
    <div>
        <p class="order">배달결제하기</p>
    </div>
    <table class="order_delivery">
        <thead>
        <tr>
            <td>상품정보</td>
            <td>수량</td>
            <td>배송비</td>
            <td>상품 금액</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="/images/americano.png">
            </td>
            <td>3</td>
            <td>0원</td>
            <td>15,000원</td>
        </tr>
        <tr>
            <td>
                <img src="/images/americano.png">
            </td>
            <td>1</td>
            <td>3,000원</td>
            <td>5,000원</td>
        </tr>
        <tr>
            <td></td>
            <td>총 상품 금액</td>
            <td colspan="2">23,000원</td>
        </tr>
        </tbody>
    </table>
    <table class="order_addr">
        <thead>
        <tr>
            <td>
                <input type="checkbox">기존 배송지
                <input type="checkbox">새로운 배송지
            </td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>우편번호</td>
            <td><input type="text">
            <td>
                <button type="submit">검색</button>
            </td>
        </tr>
        <tr>
            <td>기본 주소</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>상세 주소</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>배송시 요청 사항</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>받는 사람</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input type="text"></td>
        </tr>
        </tbody>
    </table>
    <div class="pay">
        <div>
            <p>결제 방법</p>
            <input type="checkbox">카드결제
            <input type="checkbox">실시간 계좌이체
            <input type="checkbox">휴대폰 결제
            <input type="checkbox">무통장 입금
        </div>
        <button type="submit" class="order_pay" th:text="#{order.pay}"></button>
    </div>
</main>
</html>