/** 사이트 공통 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; color: #000; outline: none; }
html { font-size: 13px; }
ul, ol { list-style: none; margin:0; padding:0; }
dl, dt, dd { margin:0; padding: 0; }
a { text-decoration: none; }
body { margin: 0; }
img { border: 0; }

/** 기준 너비 */
.layout_width { max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }

/** 기본 스타일 - 입력 */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='date'] { border: 1px solid #d5d5d5; width: 100%; height: 45px; padding: 0 10px; border-radius: 3px; }

/** 기본 스타일 - 체크박스, 라디오 버튼 */
input[type='checkbox'] { display: none; }
input[type='checkbox']+label { min-height: 32px; line-height: 1; padding: 3px 0 3px 33px; background:url("../../images/chk-off.png") no-repeat left center; }
input[type='checkbox']:checked+label { background:url("../../images/chk-on.png") no-repeat left center; }

input[type='radio'] { display: none; }
input[type='radio']+label { min-height: 24px; line-height: 1; padding: 3px 0 3px 25px; background:url("../../images/radio-off.png") no-repeat left center; }
input[type='radio']:checked+label { background:url("../../images/radio-on.png") no-repeat left center; }

.dn { display: none !important; }

/** 기본 약관 스타일 */
.terms { height: 200px; overflow-y: scroll; border: 1px solid #d5d5d5; padding: 10px; border-radius: 3px; word-break: break-all; }


/** 헤더 - 로고,메뉴 영역 S */
header #logo_menus { display: flex; justify-content: space-between; border-bottom: 1px solid #ddd; align-items:center; margin-bottom: 4rem}
header section a img { width:300px; height:100px; margin:10px 0px;}
#center_menu { display: flex; flex-wrap: wrap; justify-content: center; }
#center_menu a{ font-size:2.5rem; margin:0px 20px; }
.xi-log-in{ font-size: 5rem; }
.xi-user-plus-o{ font-size: 5rem; }
.xi-user-o{ font-size: 5rem; }
.xi-cart-o{ font-size: 5rem; }
.xi-log-out{ font-size: 5rem; }
#main_logo{ text-align:center }
#right_header{ width:300px; text-align:right; margin-right: 2rem}
#right_header i { padding:0.5rem }

/** 헤더 - 로고,메뉴 영역 E */

/** 메인 - 메뉴 영역 S */
main #main_menu { display: flex; justify-content: center; flex-direction:column; border-bottom: 1px solid #ddd; align-items:center}
main #main_menu div { display: flex; text-align: center;}
main #main_menu div a { padding: 2rem; width:auto; height:auto }
main #main_menu div a img { width:300px; height:300px }
main #main_menu div a p { font-size:2rem }
/** 메인 - 메뉴 영역 E */

/** 푸터 영역 S */
footer { background-color:#ddd; height:210px }
footer ul { margin:0px 10px }
footer ul li { font-size : 20px}
footer div { height:60px;  display: flex; align-items:center; }
footer div p { font-size:20px; padding:10px}
.footer_p {cursor: pointer;}
/** 푸터 영역 E */




/** 관리자 페이지 공통 영역 S */
.ad_nav { display: flex; width: auto; height: auto; }
.ad_nav div { width: 25% height: 50px; }
.ad_table1 { width : 80%; height: auto; }
.ad_table1 { width : 80%; height: auto; }
.ad_order_updateBtn { width: 300px; height: 50px; color: #ddd }
.ad_order_deleteBtn { width: 300px; height: 50px; color: #ddd }
