<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
    <main layout:fragment="content">
        <section id="main_menu">
            <div>
                <a href="#" class="menu1">
                    <img src="/images/americano.png" alt="아메리카노">
                    <p>아메리카노</p>
                </a>
                <a href="#" class="menu2">
                    <img src="/images/americano.png" alt="아메리카노">
                    <p>아메리카노</p>
                </a>
                <a href="#" class="menu3">
                    <img src="/images/americano.png" alt="아메리카노">
                    <p>아메리카노</p>
                </a>
            </div>
            <div>
                <a href="#" class="menu4">
                    <img src="/images/americano.png" alt="아메리카노">
                    <p>아메리카노</p>
                </a>
                <a href="#" class="menu5">
                    <img src="/images/americano.png" alt="아메리카노">
                    <p>아메리카노</p>
                </a>
                <a href="#" class="menu6">
                    <img src="/images/americano.png" alt="아메리카노">
                    <p>아메리카노</p>
                </a>
            </div>
        </section>


    </main>


</html>