<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<main layout:fragment="content">
    <h1 th:text="${title}"></h1>
    <form method="post" name="frmFindId" th:action="@{/member/find_id}" autocomplete="off" th:object="${memberSearch}">
        <table class="table-cols">
            <tr>
                <th>회원명</th>
                <td>
                    <input type="text" th:field="*{userNm}">
                </td>
            </tr>

            <tr>
                <th>휴대전화번호</th>
                <td>
                    <input type="text" th:field="*{mobile}">
                </td>
            </tr>
        </table>

        <div>
            <button class="sbtn">아이디 찾기</button>
        </div>
    </form>
</main>
</html>