<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="tpl">
        <script type="text/html" id="file_tpl">
            <span class="file_info_box">
                <a href="/file/download/<%=id%>"><%=fileName%></a>
                <i class="xi-arrow-up insert_editor" data-url="<%=url%>"></i>
                <a href="/file/delete/<%=id%>" target="ifrmProcess" onclick="return confirm('정말 삭제하시겠습니까?');">X</a>
            </span>
        </script>
    </th:block>
</html>