<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">
    <form method="post" th:action="@{/member/join}" th:object="${joinForm}">
        <div class="errors" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <dl>
            <dt th:text="#{userId}"></dt>
            <dd>
                <input type="text" name="userId" th:field="*{userId}">
                <div class="errors" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{userPw}"></dt>
            <dd>
                <input type="password" name="userPw" th:field="*{userPw}">
                <div class="errors" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{userPwRe}"></dt>
            <dd>
                <input type="password" name="userPwRe" th:field="*{userPwRe}">
                <div class="errors" th:each="err : ${#fields.errors('userPwRe')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{userNm}"></dt>
            <dd>
                <input type="text" name="userNm" th:field="*{userNm}">
                <div class="errors" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{email}"></dt>
            <dd>
                <input type="text" name="email" th:field="*{email}">
                <div class="errors" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{mobile}"></dt>
            <dd>
                <input type="text" name="mobile" th:field="*{mobile}">
                <div class="errors" th:each="err : ${#fields.errors('mobile')}" th:text="${err}"></div>
            </dd>
        </dl>
        <div>
            <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
            <label for="agree" th:text="#{member.terms.agree}"></label>
            <div class="errors" th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
        </div>
        <button type="submit" th:text="#{member.btn.join}"></button>
    </form>
</main>
</html>