<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="form" th:object="${productForm}">
        <input type="hidden" name="gid" th:field="*{gid}">
        <table class="table-cols">
        <tr>
            <th>상품분류</th>
            <td>
               <select name="cateCd" th:field="*{cateCd}">
                   <option th:each="category : ${categories}" th:value="${category.cateCd}" th:text="${category.cateNm}"></option>
               </select>
            </td>
        </tr>
        <tr>
            <th>상품명</th>
            <td>
                <input type="text" name="pName" th:field="*{pName}">
            </td>
        </tr>
        <tr>
            <th>상품 이미지(상세)</th>
            <td>
                <div class="main_image">
                    <span th:if="*{mainImage}" th:id="*{'file_' + mainImage.id}">
                        <img th:src="*{mainImage.fileUrl}">
                        <br>
                        <a th:href="@{/file/delete/{id}(id=*{mainImage.id})}" class="sbtn blue" onclick="return confirm('정말 삭제하시겠습니까?');" target="ifrmProcess">이미지 삭제</a>
                    </span>
                </div>
                <button type="button" class="uploadFiles sbtn" th:data-gid="*{gid}" data-location="main" data-image-only="true" data-single="true">이미지 추가</button>
            </td>
        </tr>
        <tr>
            <th>상품 이미지(목록)</th>
            <td>
                <div class="list_image">
                    <span th:if="*{listImage}" th:id="*{'file_' + listImage.id}">
                        <img th:src="*{listImage.fileUrl}">
                        <br>
                        <a th:href="@{/file/delete/{id}(id=*{listImage.id})}" class="sbtn blue" onclick="return confirm('정말 삭제하시겠습니까?');" target="ifrmProcess">이미지 삭제</a>
                    </span>
                </div>
                <button type="button" class="uploadFiles sbtn" th:data-gid="*{gid}" data-location="list" data-image-only="true" data-single="true">이미지 추가</button>
            </td>
        </tr>
        <tr>
            <th>소비자가</th>
            <td>
                <input type="text" name="consumerPrice" th:field="*{consumerPrice}">
            </td>
        </tr>
        <tr>
            <th>판매가</th>
            <td>
                <input type="text" name="salePrice" th:field="*{salePrice}">
            </td>
        </tr>
        <tr>
            <th>재고</th>
            <td>
                <input type="radio" name="stockType" value="0" id="stockType_0" th:field="*{stockType}">
                <label for="stockType_0">무제한</label>

                <input type="radio" name="stockType" value="1" id="stockType_1" th:field="*{stockType}">
                <label for="stockType_1">고정수량</label>
                <div class="stocks" th:classappend="*{stockType == 0 ? 'dn' : ''}">
                    <input type="number" name="stock" th:field="*{stock}">
                </div>
            </td>
        </tr>
        <tr>
            <th>짧은 설명</th>
            <td>
                <input type="text" name="shortDescription" th:field="*{shortDescription}">
            </td>
        </tr>
        <tr>
            <th>상세 설명</th>
            <td>
                <textarea name="description" id="description" th:field="*{description}"></textarea>
                <button type="button" class="uploadFiles editor sbtn" data-location="editor" th:data-gid="*{gid}" data-image-only="true">이미지 추가</button>
                <div class="attachedFiles editor">
                    <span class="file_info_box" th:each="file : *{editorImages}" th:object="${file}" th:id="*{'file_' + id}">
                        <a th:href="@{/file/download/{id}(id=*{id})}" th:text="*{fileName}"></a>
                        <i class="xi-arrow-up insert_editor" th:data-url="*{fileUrl}"></i>
                        <a th:href="@{/file/delete/{id}(id=*{id})}" class='remove' target="ifrmProcess" onclick="return confirm('정말 삭제하시겠습니까?');">X</a>
                    </span>
                </div>
            </td>
        </tr>
        </table>
        <th:block th:replace="~{admin/commons/_file_tpl::tpl}"></th:block>
        <th:block th:replace="~{admin/commons/_file_tpl::tpl_image}"></th:block>
    </th:block>
</html>