<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>CAFE</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maxmum-scale=3.0, minimun-scale=0.5"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<header th:replace="~{outlines/header::common}"></header>

<footer th:replace="~{outlines/footer::common}"></footer>

</body>
</html>