<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}">
    <main layout:fragment="content">
        <section id="layoutAll"><!-- 초반부 레이아웃 -->
            <div class="layout1">
                <img src="/images/americano.png" alt="아메리카노">
            </div>

            <div class="layout2">
                <div class="explanation">
                    <p class="coffeename">아이스 아메리카노</p>
                    <p class="price">5,000원</p>
                </div>
            </div>
            <div class="button">
                <div class="layout3">
                    <input type="button" class="minus" value="-">
                    <input type="text" class="count" value="1">
                    <input type="button" class="plus" value="+">
                </div>

                <div class="layout4">
                    <input type="button" class="bt1" value="장바구니 담기">
                    <input type="button" value="바로 결제하기">
                </div>
            </div>
            <div class="layout5">
                <p>상품설명1.......</p>
                <p>상품설명2.......</p>
                <p>상품설명3.......</p>
                <p>상품설명4.......</p>
            </div>
        </section>
    </main>
</html>