<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

    <header th:fragment="common">
        <div class="header_box">
            <div class="empty_box"></div>
            <img src="/static/images/logo.png" class="header_logo"  title="로고"/>
            <nav class="header_nav">
                <ul class="i_box">
                    <li><a href="#"><i class="xi-user-o"></i></a></li>
                    <li><a href="#"><i class="xi-cart-o"></i></a></li>
                    <li><a href="#"><i class="xi-log-in"></i></a></li>
                </ul>
            </nav>
        </div>

        <div class="header_menuBox">
            <nav class="header_menuNav">
                    <a href="#">Coffee</a>
                    <a href="#">Non-Coffee</a>
                    <a href="#">Ade</a>
                    <a href="#">Tea</a>
                    <a href="#">Desert</a>
                    <a href="#">atc</a>
            </nav>
        </div>
    </header>
</html>
