
/** 사이트 공통 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600&display=swap');
* {outline: none; box-sizing: border-box; font-family: 'IBM Plex Sans KR', sans-serif; color: black;}
html { font-size: 13px; }
ul, ol { list-style: none; margin:0; padding:0; }
dl, dt, dd { margin:0; padding: 0; }
a { text-decoration: none; }
body { margin: 0; }
img { border: 0; }

/** 기준 너비 */
.layout_width { max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }

/** 기본 스타일 - 입력 */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='date'] { border: 1px solid #d5d5d5; width: 100%; height: 45px; padding: 0 10px; border-radius: 3px; }

/* 헤더 - 로고, 메뉴 영역 S */
/*#logo_menus1 { border-bottom: 1px solid #009d93; display: flex; justify-content: space-between; height: 38.5px; overflow:hidden;}
#logo_menus1 .logo {width : 200px; height : 100px; margin-left:16rem; margin-top:1rem;}
 #logo_menus1 .logo {padding : 0; margin: 0;}
#logo_menus1 .logo img {height: 30px; }*/
#logo_menus1 .logo {padding : 0; margin: 0;}
#logo_menus1 .logo img {height: 30px; }

#logo_menus1 .right {display: block; margin-top : 9.5px;}
#logo_menus1 .right a:nth-of-type(1),
#logo_menus1 .right a:nth-of-type(2) {margin-right : 10px;}
#logo_menus1 .right a:last-of-type {margin-right: 0;}
#logo_menus1 .right a:hover, #logo_menus2 a:hover{color:#009d93; font-weight: bold;}


#logo_menus2 {display: flex; justify-content: flex-end;}
#logo_menus2 a {margin-right: 10px; margin-top:5px; margin-bottom: 5px;}
#logo_menus2 a:last-child {margin-right : 0;}


/* 헤더 - 로고, 메뉴 영역 E */

/* 푸터 S */
footer p {background: #302e2e; margin: 0 auto; text-align: center; font-size: 1.1rem; color: white; }
/* 푸터 E */