<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="common">

    <section id="logo_menus1">

        <a href="#" class="logo">
            <img src="/static/images/logo.png" alt="로고"/>
        </a>

        <div class="right">
            <a href="#">회원가입</a>
            <a href="#">로그인</a>
        </div>
    </section>

    <section id="logo_menus2">
        <a href="#">Coffee</a>
        <a href="#">Non-Coffee</a>
        <a href="#">Ade</a>
        <a href="#">Tea</a>
        <a href="#">Desert</a>
        <a href="#">atc</a>
    </section>

    </body>
</header>

</html>