<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="common">
    <section id="logo_menus">
        <div id="left_header"></div>
        <a href="#">
            <img src="images/logo.png" alt="메인 로고" id="main_logo">
        </a>
        <div id="right_header">
            <i class="xi-log-in"></i>
            <i class="xi-user-plus-o"></i>
            <i class="xi-user-o"></i>
            <i class="xi-cart-o"></i>
            <i class="xi-log-out"></i>
        </div>
    </section>
</header>
</html>