.product_list { max-width: 1300px; min-width: 1000px; margin: 20px auto; display: flex; flex-wrap: wrap; }
.product_list .pImage { height: 400px; }
.product_list > li { width: calc(100% / 4 - 12px); margin-left: 16px; margin-bottom: 30px; }
.product_list > li:nth-of-type(4n + 1) { margin-left: 0; }

.product_list .pName { font-weight: 500; font-size: 14px; margin-bottom: 10px; }

